$white: #ffffff;

$content-base-Primary: #eeeeee;

$Gray-50: #dbdbdb;
$Gray-950: #0a0a0a;
$Gray-800: #2e2e2e;
$Gray-600: #5c5c5c;
$Gray-400: #8a8a8a;

$Token-Text-Secondary: #787a82;
$Token-Text-Primary: #f8f8f8;
$Token-Button-Secondary-Gray-Surface-Default: #3b3d41;
$Token-Button-Primary-Surface-Default: #ff5a1f;
$Token-Button-Secondary-White-Surface-Default: #1e1f21;

$gradientStart: rgba(255, 255, 255, 0.1) 0%;
$gradientEnd: rgba(255, 255, 255, 0.1) 100%;
