@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@mixin book-16 {
  font-family: "Typeface";
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  text-align: left;
}
@mixin regular-16 {
  font-family: "Typeface";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@mixin regular-14 {
  font-family: "Typeface";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
@mixin regular-13 {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}
@mixin H1 {
  font-family: "Typeface";
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
}
@mixin Title-1 {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

@mixin Headline-3 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 400;
  text-align: left;
}
